body {
    text-align: center;
    background-color:#2EDCFF;
    font-family: 'Open Sans', sans-serif;
}

div {
    margin-top: 16px;
}

.image-section {
    display: flex; 
    justify-content: center;
}

.section-style{
    margin-right: 25px;
    margin-left: 25px; 
    background-color:beige;
}